<launch>
  <arg name="map_file" default="$(find norma_nav)/maps/lab_map.yaml"/>

  <!-- base_link is the name of the cameras base frame -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_camera_transform" args="-0.48 0 0 3.14159 0 0 base_footprint base_link" />
  <include file="$(find norma_nav)/launch/laser_scan_matching.launch" />
  <include file="$(find norma_nav)/launch/robot_localization_scan_matching.launch" />

  <include file="$(find norma_bringup)/launch/rs_laserscan.launch" />

  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <include file="$(find norma_nav)/launch/nav/amcl_diff.launch" />
  <include file="$(find norma_nav)/launch/nav/move_base.launch" />

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find norma_nav)/rviz/nav.rviz" />
  
</launch>
