<launch>
  <include file="$(find norma_bringup)/launch/one_lidar_imu_bringup.launch" />
  <include file="$(find norma_nav)/launch/laser_scan_matching.launch" />
  <include file="$(find norma_nav)/launch/robot_localization_scan_matching.launch" />

  <node pkg="norma_driver" type="wrapper.py" name="wrapper"/>
  <node pkg="norma_driver" type="passthrough.py" name="passthrough"/>
</launch>
