<launch>
  <arg name="map_file" default="$(find norma_nav)/maps/lab_map.yaml"/>

  <include file="$(find norma_bringup)/launch/one_lidar_imu_bringup.launch" />
  <include file="$(find norma_nav)/launch/laser_scan_matching.launch" />

  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

  <include file="$(find norma_nav)/launch/amcl_diff.launch" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find norma_nav)/rviz/gmapping.rviz" />
</launch>
