<launch>
  <!-- Arguments -->
  <arg name="model" default="$(find norma_sim)/urdf/norma.urdf"/>
  <arg name="map_file" default="$(find norma_nav)/maps/hector_slam_organised.yaml"/>

  <arg name="base_frame" default="base_link"/>
  <arg name="map_frame"  default="map"/>
  <arg name="odom_frame" default="odom"/>

  <node pkg="tf2_ros" type="static_transform_publisher" name="base_to_rear_laser_transform" args="-0.3 0.38 0 1.57079632679 0 0 base_link laser" />

  <include file="$(find norma_bringup)/launch/urg_lidar.launch">
    <arg name="serial_port" value="/dev/ttyACM0" />
    <arg name="frame_id" value="laser"/>
  </include> 

  <include file="$(find norma_bringup)/launch/spatial.launch" />
  <node pkg="imu_to_odom" type="imu_to_odom_node" name="imu_to_odom_node" />

  <node pkg="map_server" name="map_server" type="map_server" args="/home/adam/catkin_ws/src/NoRMA/norma_nav/maps/lab_map.yaml"/>

  <include file="$(find norma_nav)/launch/nav/amcl_diff.launch" />
  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find norma_nav)/rviz/gmapping.rviz" />
</launch>
