<launch>
  <arg name="model" default="$(find wheelchair_virtual_joystick_driver)/urdf/norma.urdf"/>
  <arg name="rvizconfig" default="(find wheelchair_virtual_joystick_driver)/config/config.rviz" />
  <arg name="cmd_vel_topic" default="/norma_diff_drive_controller/cmd_vel" />
  <arg name="odom_topic" default="/norma_diff_drive_controller/odom" />
  <arg name="scan_topic" default="/scan" />
  <include file="$(find wheelchair_virtual_joystick_driver)/launch/gazebo.launch">
    <arg name="model" value="$(arg model)" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" />

  <rosparam command="load"
            file="$(find wheelchair_virtual_joystick_driver)/config/joints.yaml"
            ns="norma_joint_state_controller" />
  <rosparam command="load"
            file="$(find wheelchair_virtual_joystick_driver)/config/diffdrive.yaml"
            ns="norma_diff_drive_controller" />

  <node name="r2d2_controller_spawner" pkg="controller_manager" type="spawner"
    args="norma_joint_state_controller
          norma_diff_drive_controller
          --shutdown-timeout 3"/>


  <!-- Map File -->
  <arg name="map_file" default="$(find wheelchair_virtual_joystick_driver)/maps/mymap.yaml"/>
	
  <!-- Map Server -->
  <!-- Publish: /map, /map_metadata -->
  <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)" />
	
  <!-- Add AMCL example for differential drive robots for Localization -->
  <!-- Subscribe: /scan, /tf, /initialpose, /map -->
  <!-- Publish: /amcl_pose, /particlecloud, /tf -->
  <include file="$(find amcl)/examples/amcl_diff.launch"/>
	
  <!-- Move Base Node -->
  <!-- Subscribe: /move_base_simple/goal -->
  <!-- Publish: /cmd_vel -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS" />
    <rosparam file="$(find wheelchair_virtual_joystick_driver)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wheelchair_virtual_joystick_driver)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wheelchair_virtual_joystick_driver)/config/local_costmap_params.yaml" command="load" ns="local_costmap" />
    <rosparam file="$(find wheelchair_virtual_joystick_driver)/config/global_costmap_params.yaml" command="load" ns="global_costmap" />
    <rosparam file="$(find wheelchair_virtual_joystick_driver)/config/dwa_local_planner_params.yaml" command="load" />
    <remap from="cmd_vel" to="$(arg cmd_vel_topic)"/>
    <remap from="odom" to="$(arg odom_topic)"/>
  </node>
</launch>
