<launch>
  <include file="$(find norma_bringup)/launch/spatial.launch" />
  <include file="$(find norma_bringup)/launch/urg_lidar.launch">
    <arg name="serial_port" value="/dev/ttyACM0" />
    <arg name="frame_id" value="laser_rear"/>
  </include>
  <node pkg="imu_to_odom" type="imu_to_odom_node" name="imu_to_odom_node" />
</launch>

